body {
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 550px;
    min-height: 750px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    width: 100vw;
    padding: 20px 10px;
    color: white;
}

#input-el {
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    font-weight: bold;
    width: 70px;
    text-align: center;
    margin-bottom: 20px;
}

#convert-btn {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: #6943FF;
    font-weight: bold;
}

.converted-container {
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.card {
    color: #CCC1FF;
    background-color: #273549;
    width: 90%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

.card h2 {
    font-size: 1.2rem;
}

.card p {
    color: white;
    font-size: .9rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}